Web/WEb/CSS/login.css
Web/WEb/CSS/recsenha.css
Web/WEb/Páginas/CSS/download.css
Web/WEb/Páginas/CSS/gconta.css
Web/WEb/Páginas/CSS/headerfoot.css
Web/WEb/Páginas/CSS/index.css
Web/WEb/Páginas/CSS/intro.css
Web/WEb/Páginas/CSS/login.css
Web/WEb/Páginas/CSS/receita.css
Web/WEb/Páginas/CSS/sobre.css
Web/WEb/Páginas/Imagem/cardapio.png
Web/WEb/Páginas/Imagem/cell.webp
Web/WEb/Páginas/Imagem/cellputer.webp
Web/WEb/Páginas/Imagem/celular.png
Web/WEb/Páginas/Imagem/chat.webp
Web/WEb/Páginas/Imagem/contasger.png
Web/WEb/Páginas/Imagem/download-direto.png
Web/WEb/Páginas/Imagem/favicon.ico
Web/WEb/Páginas/Imagem/file.png
Web/WEb/Páginas/Imagem/forma.png
Web/WEb/Páginas/Imagem/pc.png
Web/WEb/Páginas/Imagem/receita.png
Web/WEb/Páginas/Imagem/telefone-celular.png
Web/WEb/Páginas/Imagem/teste.png
Web/WEb/Páginas/Imagem/user.png
Web/WEb/Páginas/login.html
Web/WEb/Páginas/recsenha.html
